/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ralewayregular', Tahoma, sans-serif;
}

.container {
    max-width: 1168px;
    margin: 0 auto;
}


/* fonts */

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'), url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* header */

header {
    width: 100%;
    background-color: black;
    color: white;
    height: 40px;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-left: 10px;
}

.menuLeft {
    width: 30%;
}

.menuLeft h1,
.menuLeft span {
    font-size: 14px;
    text-transform: uppercase;
}

.menuLeft span {
    color: #27c7ab;
    font-weight: 900;
}

.menuRight {
    width: 33%;
    cursor: pointer;
}

.menuRight a {
    text-decoration: none;
}

.firstNav {
    text-transform: uppercase;
    list-style-type: none;
}

.firstNav li {
    display: inline-block;
    font-size: 14px;
    font-weight: 900;
    padding-right: 50px;
}

#dropdown {
    position: relative;
}

.secondNav {
    text-transform: none;
    list-style-type: none;
    position: absolute;
    top: 36px;
    right: 20px;
    height: 100px;
    width: 120px;
    display: block;
    background-color: black;
    text-align: left;
    padding-left: 10px;
    z-index: 1;
}

.secondNav li {
    font-size: 15px;
    padding: 10px 5px 5px 0;
}

.secondNav:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-bottom: 10px solid black;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    top: -8px;
    left: 50px;
    position: absolute;
}

.firstNav a,
.secondNav a {
    color: white;
    text-decoration: none;
}


/* #dropdown:hover .secondNav {
    display: block;
    z-index: 1;
} */


/* section chairAndText */

.chairAndText {
    margin: 60px 0 0 18px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: 450px;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
}

.chairPhoto:before {
    content: "<";
    font-size: 80px;
    display: block;
    position: absolute;
    left: 30px;
    top: 150px;
    color: #27c7ab;
}

.chairText:after {
    content: ">";
    font-size: 80px;
    display: block;
    position: absolute;
    right: 80px;
    top: 150px;
    color: #27c7ab;
}

.chairPhoto {
    background-image: url("../images/black_chair.png");
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 100%;
    height: 500px;
    width: 540px;
    margin-left: 50px;
    margin-top: 10px;
}

.chairText {
    width: 39%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 78px;
}

.chairText span {
    color: #27c7ab;
    text-transform: uppercase;
    font-weight: 900;
}

.chairText h1 {
    text-transform: uppercase;
    font-size: 38px;
    text-align: center;
    padding: 40px 50px 40px 0;
    font-weight: 300;
}

.chairText .text {
    width: 90%;
}

.chairText p {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
}

.chairText button {
    text-transform: uppercase;
    font-size: 23px;
    color: white;
    background-color: #27c7ab;
    height: 50px;
    width: 260px;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 30px 0 0 100px;
}


/* section chairOptions */

.chairOptions {
    display: flex;
    justify-content: space-around;
    height: 300px;
    margin-top: 20px;
}

.chairClair {
    width: 32%;
    height: 220px;
    background-image: url("../images/box1_img.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.chairMargarita {
    width: 32%;
    height: 220px;
    background-image: url("../images/box2_img.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.textFindInputs {
    width: 32%;
    height: 250px;
    border: 1px solid lightgray;
    padding: 15px 26px;
}

.opacityChairClair {
    height: 60px;
    width: 90%;
    background: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 140px;
    left: 0;
}

.opacityChairClair h2:after {
    content: "";
    height: 8px;
    width: 140px;
    background-color: #27c7ab;
    display: block;
}

.opacityChairMargarita {
    height: 60px;
    width: 90%;
    background: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 140px;
    left: 0;
}

.opacityChairMargarita h2:after {
    content: "";
    height: 8px;
    width: 140px;
    background-color: #27c7ab;
    display: block;
}

.textFindInputs h2:after {
    content: "";
    height: 8px;
    width: 140px;
    background-color: #27c7ab;
    display: block;
}

.chairOptions span {
    text-transform: uppercase;
}

.chairOptions h2 {
    font-size: 16px;
    padding-bottom: 5px;
    margin-top: 10px;
}

.chairOptions p {
    padding: 10px 0;
    font-size: 15px;
    color: rgb(104, 100, 100);
}


/* section prices */

.prices {
    height: 600px;
    width: 100%;
    background-color: lightgray;
}

#headline:after {
    content: "";
    height: 7px;
    width: 300px;
    background-color: #27c7ab;
    display: block;
}

.planOption {
    display: flex;
    justify-content: space-around;
    height: 500px;
    margin: 30px 0;
}

.basicPlan {
    width: 32%;
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    position: relative;
    background-color: white;
}

.basicPlan:before {
    content: "";
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid green;
    position: absolute;
    left: 50px;
    top: 0;
}

.basicPlan:after {
    content: "";
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid green;
    position: absolute;
    left: 100px;
    top: 0;
}

.standardPlan {
    width: 32%;
    border: 2px solid #27c7ab;
    text-align: center;
    position: relative;
    background-color: #27c7ab;
}

.standardPlan:before {
    content: "";
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid green;
    position: absolute;
    left: 50px;
    top: 0;
}

.standardPlan:after {
    content: "";
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid green;
    position: absolute;
    left: 100px;
    top: 0;
}

.advancedPlan {
    width: 32%;
    border: 2px solid grey;
    text-align: center;
    position: relative;
    background-color: white;
}

.advancedPlan:before {
    content: "";
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid green;
    position: absolute;
    left: 50px;
    top: 0;
}

.advancedPlan:after {
    content: "";
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid green;
    position: absolute;
    left: 100px;
    top: 0;
}

.priceOption:after {
    content: "99";
    position: absolute;
    font-size: 10px;
}

.priceOption:before {
    content: "";
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid yellow;
    position: absolute;
    left: 100px;
    top: 0;
}

.headlineOption {
    height: 15%;
}

.priceOption {
    height: 30%;
    position: relative;
}

.basicPlan h1,
.advancedPlan h1 {
    text-transform: uppercase;
    color: #27c7ab;
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px;
}

.standardPlan h1 {
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-top: 30px
}

.basicPlan .firstOption,
.advancedPlan .firstOption {
    height: 10%;
    background-color: gray;
    font-size: 24px;
    color: rgb(104, 100, 100);
    display: flex;
    align-items: center;
    justify-content: center;
}

.standardPlan .firstOption {
    height: 10%;
    background-color: white;
    font-size: 24px;
    color: rgb(104, 100, 100);
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondOption {
    height: 10%;
    background-color: lightgray;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.standardPlan .thirdOption {
    height: 10%;
    background-color: white;
    font-size: 24px;
    color: rgb(104, 100, 100);
    display: flex;
    align-items: center;
    justify-content: center;
}

.advancedPlan .thirdOption {
    height: 10%;
    background-color: gray;
    font-size: 24px;
    color: rgb(104, 100, 100);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fourthOption {
    height: 10%;
    background-color: lightgray;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.basicPlan .buttonOption {
    height: 35%;
    background-color: white;
}

.standardPlan .buttonOption {
    height: 25%;
    background-color: #27c7ab;
}

.advancedPlan .buttonOption {
    height: 15%;
    background-color: white;
}

.buttonOption {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.standardPlan .buttonOption button {
    width: 115px;
    height: 35px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #27c7ab;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
}

.basicPlan .buttonOption button,
.advancedPlan .buttonOption button {
    width: 115px;
    height: 35px;
    background-color: #27c7ab;
    border: 1px solid transparent;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
}


/* section chairContact */

.contact {
    display: flex;
    height: 400px;
}

.redChair {
    background-image: url("../images/red_chair.png");
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
}

.contact h1 {
    text-transform: uppercase;
}

.contact h1:after {
    content: "";
    height: 7px;
    width: 300px;
    background-color: #27c7ab;
    display: block;
}

.form1 {
    width: 60%;
}

.form2 {
    width: 40%;
}

label {
    display: block;
}

input {
    width: 80.6%;
    font-size: 20px;
    opacity: 0.6;
}

textarea {
    font-size: 20px;
    opacity: 0.6;
}

#agreeCheckbox {
    display: none;
}

.checker {
    background-image: url("../images/form_ok.jpg");
    width: 40px;
    height: 40px;
    float: left;
}

.class {
    padding-left: 50px;
    position: relative;
}

.class:after {
    clear: both;
    content: "";
    width: 45px;
    height: 45px;
    border: 1px solid #27c7ab;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}

label[for="send"] {
    padding-top: 50px;
    text-align: center;
}


/* footer */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#lastParagraph {
    text-transform: uppercase;
}

.logos {
    display: flex;
    justify-content: space-around;
    width: 140px;
}

.logo1 {
    background-image: url("../images/flickr.png");
    height: 30px;
    width: 30px;
    background-size: contain;
}

.logo2 {
    background-image: url("../images/vimeo.png");
    height: 30px;
    width: 30px;
    background-size: contain;
    padding: 0 10px;
}

.logo3 {
    background-image: url("../images/pinterest.png");
    height: 30px;
    width: 30px;
    background-size: contain;
    padding: 0 10px;
}

.logo4 {
    background-image: url("../images/twitter.png");
    height: 30px;
    width: 30px;
    background-size: contain;
}