/* general */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ralewayregular', Tahoma, sans-serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}


/* fonts */

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'), url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* header */

header {
    width: 100%;
    background-color: black;
    color: white;
    height: 40px;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-left: 10px;
}

.menu__left {
    width: 30%;
}

.menu__left h1 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 100;
}

.menu__left span {
    color: #27c7ab;
    font-weight: 900;
}

.menu__right {
    width: 33%;
    cursor: pointer;
}

.menu__right a {
    text-decoration: none;
}

.menu--main-nav {
    text-transform: uppercase;
    list-style-type: none;
}

.menu--main-nav li {
    display: inline-block;
    font-size: 14px;
    font-weight: 900;
    padding-right: 50px;
}

#dropdown {
    position: relative;
}

.menu--company-nav {
    text-transform: none;
    list-style-type: none;
    position: absolute;
    top: 36px;
    right: 20px;
    height: 100px;
    width: 120px;
    display: block;
    background-color: black;
    text-align: left;
    padding-left: 10px;
    z-index: 1;
}

.menu--company-nav li {
    font-size: 15px;
    padding: 10px 5px 5px 0;
}

.menu--company-nav:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-bottom: 10px solid black;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    top: -8px;
    left: 50px;
    position: absolute;
}

.menu--main-nav a,
.menu--company-nav a {
    color: white;
    text-decoration: none;
}


/* mam problem z dropdownem w trybie hover - gdy najeżdżam myszką na pole "o firmie", dropdown się rozwija, ale nie mogę na niego najechać myszką, bo gdy tylko kursor zejdzie poniżej napisu "o firmie", dropdown znika :( Pomocy!

/* #dropdown:hover .menu--company-nav {
    display: block;
    z-index: 1;
} */


/* section chairAndText */

.introduction {
    height: 500px;
    margin: 60px auto 0 auto;
    display: flex;
    center justify-contencenter position: relacenter height: 450px;
    center background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
}

.introduction__photo-part:before {
    content: "<";
    font-size: 80px;
    display: block;
    position: absolute;
    left: 60px;
    top: 200px;
    color: #27c7ab;
}

.introduction__text-part:after {
    content: ">";
    font-size: 80px;
    display: block;
    position: absolute;
    right: 80px;
    top: 200px;
    color: #27c7ab;
}

.introduction__photo-part {
    background-image: url("../images/black_chair.png");
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 100%;
    width: 540px;
    margin-left: 80px;
    margin-top: 10px;
}

.introduction__text-part {
    width: 39%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 78px;
}

.introduction__text-part span {
    color: #27c7ab;
    text-transform: uppercase;
    font-weight: 900;
}

.introduction__text-part h1 {
    text-transform: uppercase;
    font-size: 38px;
    text-align: center;
    padding: 40px 50px 40px 0;
    font-weight: 300;
}

.introduction--text {
    width: 90%;
}

.introduction__text-part p {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
}

.introduction__text-part button {
    text-transform: uppercase;
    font-size: 23px;
    color: white;
    background-color: #27c7ab;
    height: 50px;
    width: 260px;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 30px 0 0 100px;
}


/* section chairOptions */

.chair-options {
    display: flex;
    justify-content: space-between;
    height: 300px;
    margin-top: 20px;
}

.chair-options__clair {
    width: 31.5%;
    height: 220px;
    background-image: url("../images/box1_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.chair-options__margarita {
    width: 31.5%;
    height: 220px;
    background-image: url("../images/box2_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.chair-options__text-part {
    width: 31.5%;
    height: 250px;
    border: 1px solid #B9B8BA;
    padding: 15px 26px;
}

.chair-options__clair--opacity {
    height: 60px;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 140px;
    left: 0;
}

.chair-options__clair--opacity h2:after {
    content: "";
    height: 8px;
    width: 140px;
    background-color: #27c7ab;
    display: block;
}

.chair-options__margarita--opacity {
    height: 60px;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 140px;
    left: 0;
}

.chair-options__margarita--opacity h2:after {
    content: "";
    height: 8px;
    width: 140px;
    background-color: #27c7ab;
    display: block;
}

.chair-options__text-part h2:after {
    content: "";
    height: 8px;
    width: 140px;
    background-color: #27c7ab;
    display: block;
}

.chair-options span {
    text-transform: uppercase;
}

.chair-options h2 {
    font-size: 16px;
    padding-bottom: 5px;
    margin-top: 10px;
}

.chair-options p {
    padding: 10px 0;
    font-size: 15px;
    color: rgb(104, 100, 100);
}


/* section prices */

.prices {
    height: 750px;
    width: 100%;
    background-color: #F1F1F1;
    padding-top: 30px;
}

#prices-headline {
    text-transform: uppercase;
    font-size: 22px;
    color: grey;
    padding-bottom: 40px;
}

#prices-headline:after {
    content: "";
    height: 7px;
    width: 300px;
    background-color: #27c7ab;
    display: block;
}

#plan-options {
    display: flex;
    justify-content: space-between;
    height: 580px;
    margin: 30px 0;
}

.prices__basic {
    width: 31.5%;
    border: 2px solid #B9B8BA;
    ;
    text-align: center;
    position: relative;
    background-color: white;
}

.prices__basic:before {
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #B9B8BA;
    background-color: #B9B8BA;
    position: absolute;
    left: 155px;
    top: -20px;
    z-index: 2;
}

.prices__basic:after {
    content: "";
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid #B9B8BA;
    background-color: white;
    position: absolute;
    left: 139px;
    top: -35px;
    z-index: 1;
}

.prices__standard {
    width: 31.5%;
    border: 2px solid #27c7ab;
    text-align: center;
    position: relative;
    background-color: #27c7ab;
}

.prices__standard:before {
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: white;
    position: absolute;
    left: 155px;
    top: -20px;
    z-index: 2;
}

.prices__standard:after {
    content: "";
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid #27c7ab;
    background-color: #27c7ab;
    position: absolute;
    left: 139px;
    top: -35px;
    z-index: 1;
}

.prices__advanced {
    width: 31.5%;
    border: 2px solid #B9B8BA;
    ;
    text-align: center;
    position: relative;
    background-color: white;
}

.prices__advanced:before {
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #B9B8BA;
    background-color: #B9B8BA;
    position: absolute;
    left: 155px;
    top: -20px;
    z-index: 2;
}

.prices__advanced:after {
    content: "";
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid #B9B8BA;
    background-color: white;
    position: absolute;
    left: 139px;
    top: -35px;
    z-index: 1;
}

.prices__basic--monthly-price:before,
.prices__advanced--monthly-price:before {
    content: "";
    height: 115px;
    width: 115px;
    border-radius: 50%;
    border: 2px solid #B9B8BA;
    position: absolute;
    left: 115px;
    top: 0px;
}

.headline-option {
    height: 15%;
}

.monthly-price-option {
    height: 30%;
    position: relative;
    padding-top: 30px;
}

.prices__basic--headline,
.prices__advanced--headline {
    text-transform: uppercase;
    color: #27c7ab;
    font-size: 22px;
    font-weight: 600;
    padding: 40px 0;
}

.prices__standard--headline {
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    font-weight: 600;
    padding: 40px 0;
}

.prices__basic--first-advantage,
.prices__advanced--first-advantage {
    height: 10%;
    background-color: #e4e4e4;
    font-size: 24px;
    color: #B9B8BA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prices__standard--first-advantage {
    height: 10%;
    background-color: white;
    font-size: 24px;
    color: #B9B8BA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-advantage {
    height: 10%;
    background-color: #F1F1F1;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(147, 146, 148);
}

.prices__standard--third-advantage {
    height: 10%;
    background-color: white;
    font-size: 24px;
    color: #B9B8BA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prices__advanced--third-advantage {
    height: 10%;
    background-color: #e4e4e4;
    font-size: 24px;
    color: #B9B8BA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prices__advanced--fourth-advantage {
    height: 10%;
    background-color: #F1F1F1;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(147, 146, 148);
}

.prices__basic--button {
    height: 35%;
    background-color: white;
}

.prices__standard--button {
    height: 25%;
    background-color: #27c7ab;
}

.prices__advanced--button {
    height: 15%;
    background-color: white;
}

.prices--button {
    display: flex;
    color: rgba(255, 255, 255, 0.4);
    align-items: flex-end;
    justify-content: center;
}

.prices__standard--button button {
    width: 115px;
    height: 35px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #27c7ab;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
}

.prices__basic--button button,
.prices__advanced--button button {
    width: 115px;
    height: 35px;
    background-color: #27c7ab;
    border: 1px solid transparent;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
}

.prices__basic--monthly-price h1,
.prices__advanced--monthly-price h1 {
    color: #B9B8BA;
    font-size: 40px;
    padding-bottom: 5px;
}

.prices__standard--monthly-price:before {
    content: "";
    height: 115px;
    width: 115px;
    border-radius: 50%;
    border: 2px solid transparent;
    position: absolute;
    left: 115px;
    top: 0px;
    background-color: white;
}

.prices__standard--monthly-price {
    position: relative;
}

.prices__standard--monthly-price h1 {
    color: #27c7ab;
    font-size: 40px;
    padding-bottom: 5px;
    position: absolute;
    top: 28px;
    left: 148px;
}

.prices__standard--monthly-price h2 {
    font-size: 14px;
    font-weight: 900;
    color: #27c7ab;
    position: absolute;
    top: 80px;
    left: 140px;
}

.prices__basic--monthly-price h2,
.prices__advanced--monthly-price h2 {
    font-size: 14px;
    font-weight: 900;
    color: #B9B8BA;
}

.prices__basic--monthly-price:after {
    content: "99";
    position: absolute;
    font-size: 10px;
    top: 30px;
    left: 195px;
    font-size: 14px;
    color: #B9B8BA;
    font-weight: 900;
}

.prices__standard--monthly-price:after {
    content: "99";
    position: absolute;
    font-size: 10px;
    top: 30px;
    left: 195px;
    font-size: 14px;
    color: #27c7ab;
    font-weight: 900;
}

.prices__advanced--monthly-price:after {
    content: "00";
    position: absolute;
    font-size: 10px;
    top: 30px;
    left: 195px;
    font-size: 14px;
    color: #B9B8BA;
    font-weight: 900;
}


/* section chairContact */

.contact {
    display: flex;
    height: 600px;
}

.contact__form2--red-chair {
    background-image: url("../images/red_chair.png");
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 80px;
}

.contact h1 {
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 22px;
    color: grey;
}

.contact h1:after {
    content: "";
    height: 7px;
    width: 300px;
    background-color: #27c7ab;
    display: block;
}

.contact__form1 {
    width: 60%;
}

.contact__form2 {
    width: 40%;
}

label {
    display: block;
}

input {
    width: 83.1%;
    font-size: 35px;
    opacity: 0.4;
    border: 1px solid #27c7ab;
    margin-bottom: 10px;
    padding-left: 10px;
    line-height: 60px;
}

textarea {
    font-size: 35px;
    opacity: 0.4;
    border: 1px solid #27c7ab;
    resize: none;
    padding-left: 10px;
    line-height: 60px;
}

form {
    position: relative;
}

#agreeCheckbox {
    display: none;
}

.contact__form2--checker {
    background-image: url("../images/form_ok.jpg");
    width: 40px;
    height: 40px;
    float: left;
    position: absolute;
    top: 0;
    left: -10px;
}

.contact__form2--agree-checkbox {
    padding-left: 50px;
    position: relative;
    color: gray;
    font-size: 20px;
    width: 85%;
    margin-top: 30px;
}

.contact__form2--agree-checkbox:after {
    clear: both;
    content: "";
    width: 45px;
    height: 45px;
    border: 1px solid #27c7ab;
    display: block;
    position: absolute;
    top: 0px;
    left: -10px;
}

label[for="send"] {
    padding-top: 50px;
    text-align: center;
}

input[type="submit"] {
    color: white;
    background-color: #27c7ab;
    opacity: 1;
    border-radius: 10px;
    position: absolute;
    top: 80px;
    left: -10px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 32px;
    height: 70px;
}


/* footer */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    margin-bottom: 30px;
    color: rgb(104, 100, 100);
}

.footer__copyright {
    width: 38%;
}

.footer__end-text {
    width: 12%;
}

#lastParagraph {
    text-transform: uppercase;
    font-size: 20px;
}

#lastParagraph span {
    text-transform: uppercase;
    font-weight: 900;
}

.footer__logos {
    display: flex;
    justify-content: space-around;
    width: 12%;
}

.footer--logo1 {
    background-image: url("../images/flickr.png");
    height: 30px;
    width: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0 10px;
}

.footer--logo2 {
    background-image: url("../images/vimeo.png");
    height: 30px;
    width: 30px;
    background-size: contain;
    padding: 0 10px;
    background-repeat: no-repeat;
}

.footer--logo3 {
    background-image: url("../images/pinterest.png");
    height: 30px;
    width: 30px;
    background-size: contain;
    padding: 0 10px;
    background-repeat: no-repeat;
}

.footer--logo4 {
    background-image: url("../images/twitter.png");
    height: 30px;
    width: 30px;
    background-size: contain;
    background-repeat: no-repeat;
}