.calculator {
    background-color: $colorWhite;
    padding: 2.5rem 0;
    .calculator__choice {
        header {
            background-color: $colorWhite;
            h3 {
                color: $colorGrey;
                font-size: 1.4rem;
                text-transform: uppercase;
                &:after {
                    background-color: #27c7ab;
                    content: "";
                    display: block;
                    height: 0.5rem;
                    width: 21rem;
                }
            }
        }
        .calculator__choice--form {
            margin-top: 3rem;
            .calculator--dropdown_list {
                background-color: white;
                border: 1px solid $colorBlue;
                height: 2.8rem;
                margin-top: 1.4rem;
                padding: 0.5rem 0.75rem;
                position: relative;
                width: 85%;
                .calculator--list_label {
                    color: $colorCalculatorGrey;
                    font-size: 1.8rem;
                }
                .calculator--list_arrow {
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-top: 15px solid $colorBlue;
                    cursor: pointer;
                    display: block;
                    height: 0;
                    position: absolute;
                    right: 14px;
                    top: 20px;
                    width: 0;
                }
                .calculator--list_panel {
                    background-color: $colorWhite;
                    border: 1px solid $colorLightGrey;
                    display: none;
                    left: 0px;
                    list-style: none;
                    margin: 0;
                    padding-bottom: 0.6rem;
                    padding-left: 1rem;
                    position: absolute;
                    top: 2.7rem;
                    width: 100%;
                    z-index: 2;
                    li {
                        cursor: pointer;
                        color: $colorLightGrey;
                        margin-top: 0.6rem;
                    }
                }
            }
            .calculator--checkbox {
                padding: 2rem 2rem 2rem 0;
                position: relative;
                #transport {
                    cursor: pointer;
                    display: block;
                    height: 3rem;
                    opacity: 0;
                    position: absolute;
                    width: 3rem;
                    &:checked+label:after {
                        background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
                        display: block;
                    }
                }
                label {
                    color: $colorCalculatorGrey;
                    cursor: pointer;
                    display: block;
                    font-size: 1.8rem;
                    line-height: 120%;
                    padding-left: 4rem;
                    padding-top: 0.6rem;
                    position: relative;
                    &:before,
                    &:after {
                        border: 1px solid $colorBlue;
                        content: "";
                        display: block;
                        left: 0;
                        height: 3rem;
                        position: absolute;
                        top: 0;
                        width: 3rem;
                    }
                }
            }
        }
    }
    .calculator__image {
        .calculator__image--red-chair {
            background-image: url("../images/old_chair.png");
            background-repeat: no-repeat;
            background-size: contain;
            height: 20rem;
            margin-left: 1rem;
            margin-top: 2rem;
            width: 80%;
        }
    }
    .calculator__summary {
        header {
            background-color: $colorWhite;
            text-align: right;
            h3 {
                color: $colorGrey;
                font-size: 1.4rem;
                text-transform: uppercase;
                &:after {
                    background-color: #27c7ab;
                    content: "";
                    display: block;
                    height: 0.5rem;
                    margin-left: 1.4rem;
                    width: 21rem;
                }
            }
        }
        .calculator__summary--panel {
            height: 12rem;
            margin-top: 3rem;
            padding: 0.6rem;
            .calculator--panel_left {
                border-bottom: 1px solid $colorLightGrey;
                display: inline-block;
                height: 9rem;
                padding-bottom: 0.6rem;
                vertical-align: top;
                width: 55%;
                .calculator--panel--title {
                    color: $colorBlue;
                    font-size: 1.5rem;
                    height: 2rem;
                }
                span {
                    color: $calculatorGrey;
                    display: block;
                    font-size: 1.4rem;
                    margin-top: 0.6rem;
                }
            }
            .calculator--panel_right {
                border-bottom: 1px solid $colorLightGrey;
                border-left: 1px solid $colorLightGrey;
                display: inline-block;
                height: 9rem;
                padding-bottom: 0.6rem;
                text-align: right;
                vertical-align: top;
                width: 30%;
                .calculator--panel--title {
                    color: $colorBlue;
                    font-size: 1.5rem;
                    height: 2rem;
                }
                span {
                    color: $colorBlue;
                    display: block;
                    font-size: 1.4rem;
                    margin-top: 0.6rem;
                }
            }
            .calculator--sum_label {
                color: $colorGrey;
                display: inline-block;
                font-size: 1.4rem;
                margin-top: 0.6rem;
                width: 55%;
            }
            .calculator--sum {
                color: $colorBlue;
                display: inline-block;
                font-size: 1.4rem;
                margin-top: 0.6rem;
                text-align: right;
                width: 30%;
            }
        }
    }
    .calculator--green_button {
        background-color: $colorBlue;
        border-radius: 0.5rem;
        color: $colorWhite;
        display: inline-block;
        font-size: 1.5rem;
        padding: 0.6rem 1.9rem;
        margin-top: 1.25rem;
        margin-left: 1.8rem;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 80%;
    }
}

.active {
    // background: url('../images/form_ok.jpg');
    // width: 48px;
    // height: 40px;
}