$colorBlack: #000000;
$colorBlue: #27c7ab;
$colorWhite: #ffffff;
$floralWhite: #FFFAFf;
$colorGrey: #696969;
$colorLightGrey: #B9B8BA;
$colorBgFirstThirdAdvantage: #e4e4e4;
$colorBgSecondFourthAdvantage: #F1F1F1;
$colorCalculatorGrey: #cecece;
$calculatorGrey: #575757;
$fontSize: 16px;
$fontFamily: 'ralewayregular',
Tahoma,
sans-serif;